<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <link rel="stylesheet" href="/styles/crm.css">
    <link rel="preconnect" 
     href="https://fonts.googleapis.com">
    <link rel="preconnect" 
    href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-div">
      <div class="inner-div">
        <div class="title-part">
          <p class="title">Performance</p>
          <button class="export-button">
            <p>Export</p>
            <img src="/img/download-icon.svg">
          </button>
        </div>
        <div class="cards-div">
          <div class="card">
            <div class="first-row">
              <p>Total Member</p>
            </div>
            <p class="num"><%= totalUsers.length %></p>
          </div>
          <div class="card">
            <div class="first-row">
              <p>Total Words</p>
            </div>
            <p class="num"><%= totalWords.length %></p>
          </div>
          <div class="card">
            <div class="first-row">
              <p>Total Activity</p>
            </div>
            <p class="num"><%= totalActs.length %></p>
          </div>
          <div class="card">
            <div class="first-row">
              <p>weekly Activity</p>
            </div>
            <p class="num"><%= totalWeeklyActs.length %></p>
          </div>
        </div>
        <div class="reports">
          <div class="weekly-reports">
            <div class="chart">
              <img src="/img/report 1.svg" alt="Bar Chart" >
            </div>
          </div>
          <div class="data-reports">
            <div class="chart">
              <img src="/img/report 2.svg" alt="Bar Chart" >
            </div>
          </div>
        </div>
        <div class="member-list">
          <p>Members List</p>
          <div class="list">
            <% if (totalUsers.length > 0) { %>
              <% totalUsers.forEach(user => { %>
                <%- include("components/member" , {user , timeGetter}) %>
              <% }); %>
            <% }else { %>
                <p>there is no any users</p>
            <% } %>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>